<div class="container" id="story">
    <h2 class="headline">Our Story</h2>
    <p><img class="profilepic" src="img/evelyn.jpg" alt="Evelyn">Oh yea, I forgot. I don't know what to write. Here are some potential talking points </p>
    <ol>
      	<li>20 years old (21 in a week)</li>
      	<li>Studying patisserie and baking at Le Cordon Bleu</li>
      	<li>I have a dog named Charlie</li>
      	<li>Have a background in art and math</li>
      	<li>I started a business in December</li>
      	<li>I've known I wanted to do cakes since 14 years old</li>
      	<li>Ummmm....I worked in the restaurant business for the past 3 years...</li>
      	<li>Aaannnndd...I drive a Jeep.</li>
      	<li>And....I think that's it</li>
	</ol>
</div>
<div class="container" id="faq">
  <h2 class="headline">Frequently Asked Questions</h2>
</div>