<div class="containter text-center" id="display">
  <div class="container">
    <div id="banner" class="row">
     	<h2 class="headline">Custom Cakes</h2>
      <!-- Each image is 350px by 233px -->
    	<div class="photobanner">
    		<img class="first" src="img/image-1.jpg" alt="" />
	    	<img src="img/image-2.jpg" alt="" />
		    <img src="img/image-3.jpg" alt="" />
	    	<img src="img/image-4.jpg" alt="" />
		    <img src="img/image-5.jpg" alt="" />
    		<img src="img/image-6.jpg" alt="" />
		    <img src="img/image-1.jpg" alt="" />
    		<img src="img/image-2.jpg" alt="" />
    		<img src="img/image-3.jpg" alt="" />
    		<img src="img/image-4.jpg" alt="" />
    		<img src="img/image-5.jpg" alt="" />
    	</div>
    	<p>Additional photos are available in the gallery <br>For custom orders, please call or email and provide at least 3 business days notice</p>
    </div>
  </div>
</div>
