<div id="menu">
    <div class="container">
      <h2>Menu</h2>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <h3>Drinks</h3>
          <dl>
            <dt>Espresso</dt>
            <dd>dark and rich, pulled with care</dd>
              <dt>Latte</dt>
              <dd>milky and sweet, with various syrups and toppings</dd>
              <dt>Mocha</dt>
              <dd>chocolate, milk, and espresso, what could be better?</dd>
            </dl>
          </div>
          <div class="col-xs-12 col-sm-6">
            <h3>Treats</h3>
            <dl>
              <dt>Muffins &amp; Scones</dt>
              <dd>banana, blueberry, chocolate, and pumpkin</dd>
              <dt>Cookies</dt>
              <dd>chocolate chunk, peanut butter, and oatmeal</dd>
              <dt>Breads</dt>
              <dd>zucchini, banana, lemon, and ginger</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>